<%- include("partials/header") %>
<%- include("partials/home-navbar") %>

<!-- Home page UI -->
    <div class="home-container">
        <div class="hotel-options">
        <div class="options">
            <button class="arrow-btn">
                <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 5.33333; overflow: visible;"><path fill="none" d="M20 28 8.7 16.7a1 1 0 0 1 0-1.4L20 4"></path></svg>
            </button>
        <button class="hotel-type-btn">
            <span>
                <img class="hoteltype-image"  src="https://a0.muscache.com/pictures/7630c83f-96a8-4232-9a10-0398661e2e6f.jpg">
            </span><br>
            <span class="hoteltype-name">
                Rooms
            </span>
        </button>
        <button class="hotel-type-btn">
            <span>
                <img class="hoteltype-image"  src="https://a0.muscache.com/pictures/3fb523a0-b622-4368-8142-b5e03df7549b.jpg">
            </span><br>
            <span class="hoteltype-name">
                Amazing pools
            </span>
        </button>
        <button class="hotel-type-btn">
            <span>
                <img class="hoteltype-image"  src="https://a0.muscache.com/pictures/677a041d-7264-4c45-bb72-52bff21eb6e8.jpg">
            </span><br>
            <span class="hoteltype-name">
                Lakefront
            </span>
        </button>
        <button class="hotel-type-btn">
            <span>
                <img class="hoteltype-image"  src="https://a0.muscache.com/pictures/aaa02c2d-9f0d-4c41-878a-68c12ec6c6bd.jpg">
            </span><br>
            <span class="hoteltype-name">
                Farms
            </span>
        </button>
        <button class="hotel-type-btn">
            <span>
                <img class="hoteltype-image"  src="https://a0.muscache.com/pictures/5cdb8451-8f75-4c5f-a17d-33ee228e3db8.jpg">
            </span><br>
            <span class="hoteltype-name">
                windmills
            </span>
        </button>
        <button class="hotel-type-btn">
            <span>
                <img class="hoteltype-image"  src="https://a0.muscache.com/pictures/bcd1adc0-5cee-4d7a-85ec-f6730b0f8d0c.jpg">
            </span><br>
            <span class="hoteltype-name">
                Beachfront
            </span>
        </button>
        <button class="hotel-type-btn">
            <span>
                <img class="hoteltype-image"  src="https://a0.muscache.com/pictures/732edad8-3ae0-49a8-a451-29a8010dcc0c.jpg">
            </span><br>
            <span class="hoteltype-name">
                Cabins
            </span>
        </button>
        <button class="hotel-type-btn">
            <span>
                <img class="hoteltype-image"  src="https://a0.muscache.com/pictures/4d4a4eba-c7e4-43eb-9ce2-95e1d200d10e.jpg">
            </span><br>
            <span class="hoteltype-name">
                Treehouses
            </span>
        </button>
        <button class="hotel-type-btn">
            <span>
                <img class="hoteltype-image"  src="https://a0.muscache.com/pictures/4221e293-4770-4ea8-a4fa-9972158d4004.jpg">
            </span><br>
            <span class="hoteltype-name">
                Caves
            </span>
        </button>
        <button class="hotel-type-btn">
            <span>
                <img class="hoteltype-image"  src="https://a0.muscache.com/pictures/c0a24c04-ce1f-490c-833f-987613930eca.jpg">
            </span><br>
            <span class="hoteltype-name">
               National parks
            </span>
        </button>
    
        <button class="arrow-btn">
            <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 5.33333; overflow: visible;"><path fill="none" d="m12 4 11.3 11.3a1 1 0 0 1 0 1.4L12 28"></path></svg>
        </button>
    </div>
    <div class="filter">
        <button class="filter-btn">
            <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" style="display:block;fill:none;height:16px;width:16px;stroke:currentColor;stroke-width:3;overflow:visible" aria-hidden="true" role="presentation" focusable="false"><path fill="none" d="M7 16H3m26 0H15M29 6h-4m-8 0H3m26 20h-4M7 16a4 4 0 1 0 8 0 4 4 0 0 0-8 0zM17 6a4 4 0 1 0 8 0 4 4 0 0 0-8 0zm0 20a4 4 0 1 0 8 0 4 4 0 0 0-8 0zm0 0H3"></path></svg></span>
            <span class="text">Filters</span>
        </button>
    </div>
    </div>
    <div class="totaltaxbleamt">
        <button class="taxable-amount">
            <span class="text">Display total before taxes</span>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
        </button>

    </div>
</div>

<% allHoteldata.forEach((hotel)=>{ %>

<!-- Hotel card UI -->
<div class="card-container">
    <div class="hotel-card">
    <div class="hotel-images">
        <a href="/hotel/<%=hotel._id%>">
        <img class="hotel-photos" src="<%= hotel.images[0] %>" alt="hotelImages" id="hotelImage"></a>
        <div class="like-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: rgba(0, 0, 0, 0.5); height: 24px; width: 24px; stroke: var(--f-mkcy-f); stroke-width: 2; overflow: visible;"><path d="M16 28c7-4.73 14-10 14-17a6.98 6.98 0 0 0-7-7c-1.8 0-3.58.68-4.95 2.05L16 8.1l-2.05-2.05a6.98 6.98 0 0 0-9.9 0A6.98 6.98 0 0 0 2 11c0 7 7 12.27 14 17z"></path></svg>
        </div>
        <button class="left-arrow-btn">
            <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 4; overflow: visible;"><path fill="none" d="m12 4 11.3 11.3a1 1 0 0 1 0 1.4L12 28"></path></svg>
        </button>
    </div>
    <div>
        <span class="hotel-city text-bold"><%= hotel.hotelName%></span>,
        <span class="text-bold"><%= hotel.city%></span>
    </div>
    <div>
        <span class="hotel-distance text-color"><%= hotel.kiloMeter%> kilometers away</span>
    </div>

    <span class="hotel-rates text-bold">$ <%= hotel.rentperNight%></span> night</span>
    </div>
</div>
 <% }) %>

    <div class="load-more">
        <span class="continue-text">Continue exploring castles</span>
        <button class="load-more-btn">Show more</button>
    </div>
</div>
<div class="inspiration">
    <div>
     <span class="insp-title">Inspiration for future getaways</span>
    </div>
    <div class="insp-options">
     <button class="insp-button">Popular</button>
     <button class="insp-button">Arts & culture</button>
     <button class="insp-button">Outdoors</button>
     <button class="insp-button">Mountains</button>
     <button class="insp-button">Beach</button>
     <button class="insp-button">Unique stays</button>
     <button class="insp-button">Categories</button>
     <button class="insp-button">Things to do</button>
    </div>
 

 <div class="insp-gatways">
     <a class="gatways-options" href="#">
         <span class="gatway-title">Canmore</span>
         <span class="gatway-info">Flat rentals</span>
     </a>
     <a class="gatways-options" href="#">
         <span class="gatway-title">Benalmadena</span>
         <span class="gatway-info">Flat rentals</span>
     </a>
     <a class="gatways-options" href="#">
         <span class="gatway-title">Marbella</span>
         <span class="gatway-info">Beach house rentals</span>
     </a>
     <a class="gatways-options" href="#">
         <span class="gatway-title">Mijas</span>
         <span class="gatway-info">Holiday rentals</span>
     </a>
     <a class="gatways-options" href="#">
         <span class="gatway-title">Prescott</span>
         <span class="gatway-info">Pre-friendly rentals</span>
     </a>
     <a class="gatways-options" href="#">
         <span class="gatway-title">Scottsdale</span>
         <span class="gatway-info">Flat rentals</span>
     </a>
     <a class="gatways-options" href="#">
         <span class="gatway-title">Tucson</span>
         <span class="gatway-info">Flat rentals</span>
     </a>
     <a class="gatways-options" href="#">
         <span class="gatway-title">Jasper</span>
         <span class="gatway-info">holiday rentals</span>
     </a>
     <a class="gatways-options" href="#">
         <span class="gatway-title">Mountain View</span>
         <span class="gatway-info">Holiday rentals</span>
     </a>
     <a class="gatways-options" href="#">
         <span class="gatway-title">Devonport</span>
         <span class="gatway-info">Cottage rentals</span>
     </a>
     <a class="gatways-options" href="#">
         <span class="gatway-title">Mallacoota</span>
         <span class="gatway-info">Holiday rentals</span>
     </a>
     <a class="showmore gatways-options" href="#">
         <span class="showmore-btn gatway-title">Show more</span>
         <span class="down-arrow gatway-info">
             <svg class="gatway-info" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 5.33333; overflow: visible;"><path fill="none" d="M28 12 16.7 23.3a1 1 0 0 1-1.4 0L4 12"></path></svg>
         </span>
     </a>
 </div>
</div>



<%- include("partials/footer") %>

